:root {
    --main-color: rgb(220, 36, 36);
    --secondary-color: rgb(250, 235, 215);
    --background-color: rgb(167, 223, 188);
    --default-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.7);
}

body {
    font-family: 'Etch', sans-serif;
    color: var(--secondary-color);
    background-color: var(--background-color);
}

main {
    width: 600px;
    aspect-ratio: 1;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: var(--default-shadow);
}

#inscription {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#title {
    font-size: 2rem;
}

#grid {
    width: 450px;
    aspect-ratio: 1;
    background-color: var(--secondary-color);
    margin: auto;
    border-radius: 10px;
    box-shadow: inset var(--default-shadow);
    display: flex;
    flex-wrap: wrap;
}

#control-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#clear {
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.7);
    background-color: var(--secondary-color);
    font-size: 1.2rem;
}

#clear:active {
    box-shadow: none;
    transform: translate(2px, 2px);
}

.controller {
    width: 90px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--secondary-color);
    box-shadow: var(--default-shadow);
    margin: 6px;
}

.selector {
    width: 10px;
    aspect-ratio: 1;
    background-color: var(--main-color);
    position: relative;
    left: 40px;
}

.options-container,
.controller-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.options-container p {
    font-size: 15px;
    display: inline;
}

.controller-container {
    flex-direction: column;
}

#rainbow {
    width: 20px;
    aspect-ratio: 1;
    background-image: url('../images/rainbow.png');
    background-size: cover;
}

#black {
    width: 15px;
    aspect-ratio: 1;
    background-color: black;
}

#shade {
    width: 15px;
    aspect-ratio: 1;
    background-color: rgb(180, 180, 180);
}

#erase {
    width: 15px;
    aspect-ratio: 1;
    background-color: white;
}
